<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Delivery Note Saved!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Duplicate Note no.!{% endtrans %}
    </div>
    <div id="purchaseordercollapsediv" hidden>
      <div id="purchaseorderdiv" class="row">

      </div>
      <div class="row">
        <div class="col-sm-offset-6">
          <button id="backtodcin" type="button" class="btn btn-sm btn-danger">Back</button>
        </div>
      </div>
    </div>
    <div id="salesordercollapsediv" hidden>
      <div id="salesorderdiv" class="row">

      </div>
      <div class="row">
        <div class="col-sm-offset-6">
          <button id="backtodcout" type="button" class="btn btn-sm btn-danger">Back</button>
        </div>
      </div>
    </div>
    <div class="panel shadow deliverychallan_panel" id="dcmain">
      <div class="panel-body">
        <div class="col-md-5">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">
              {% if gkstatus=="in" %}
              {% trans %}Please select a supplier!{% endtrans %}
              {% else %}
              {% trans %}Please select a customer!{% endtrans %}
              {% endif %}
            </label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter note no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

            {% trans %}Please enter date within the financial year!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="noofpackages-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter Number of Packages!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="modeoftransport-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter mode of transport!{% endtrans %}</label>
          </div>
            <div class="form-group">
              <label for="deliverychallan_challanno">{% trans %}Note No{% endtrans %} :</label>
              <input class="form-control input-sm" id="deliverychallan_challanno" placeholder="{% trans %}Enter Delivery Note No.{% endtrans %}" accesskey="a" value = "{{lastdelchaldata['dcno']}}">
            </div>
            <div class="form-group">
              <label for="deliverychallan_date">{% trans %}Note Date{% endtrans %} :</label>
              <div class="form-inline">
                  <div class="form-group ">
                    <input type="text" class="form-control input-sm delchaldate" size="2" maxlength="2" placeholder="DD" id="deliverychallan_date" accesskey="v" value = "{{lastdelchaldata['dcdate'][0:2]}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm delchaldate" size="2" maxlength="2" placeholder="MM" id="deliverychallan_month" accesskey="v" value = "{{lastdelchaldata['dcdate'][3:5]}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm delchaldate" size="4" maxlength="4" placeholder="YYYY" id="deliverychallan_year" accesskey="v" value = "{{lastdelchaldata['dcdate'][6:]}}">
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="deliverychallan_customer">
                {% if gkstatus=="in" %}
                {% trans %}Supplier{% endtrans %} :
                {% else %}
                {% trans %}Customer{% endtrans %} :
                {% endif %}
              </label>
              <select class="form-control input-sm" id="deliverychallan_customer" accesskey="">
                <option value="" disabled hidden selected>
                  {% if gkstatus=="in" %}
                  {% trans %}Select Supplier{% endtrans %}
                  {% else %}
                  {% trans %}Select Customer{% endtrans %}
                  {% endif %}
                </option>
                  {% for supplier in suppliers %}
                  <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
                  {% endfor %}
              </select>
              {% if gkstatus != "in" %}
                <br>
                <label for="deliverychallan_customeraddr">
                  {% trans %}Customer Address{% endtrans %} :
                </label>
                <input class="form-control input-sm" id="deliverychallan_customeraddr" placeholder="{% trans %}Select Customer to see Address{% endtrans %}" accesskey="" disabled>
              {% else %}
                <br>
                <label for="deliverychallan_supplieraddr">
                  {% trans %}Supplier Address{% endtrans %} :
                </label>
                <input class="form-control input-sm" id="deliverychallan_supplieraddr" placeholder="{% trans %}Select Supplier to see Address{% endtrans %}" accesskey="" disabled>
              {% endif %}
            </div>
            <div class="form-group">
            {%if numberofgodowns > 0 %}
              <label for="deliverychallan_godown">

                {% if gkstatus=="in" %}
                {% trans %}Received At{% endtrans %} :
                {% else %}
                {% trans %}Dispatch From{% endtrans %} :
                {% endif %}

              </label>
              <select class="form-control input-sm" id="deliverychallan_godown">
               {% for godown in godowns %}
                <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                {% endfor %}
              </select>
               {% endif %}
            </div>
            <div class="form-group">
              <label for="deliverychallan_consignment">Type of transaction:</label>
                <select class="form-control input-sm" id="deliverychallan_consignment" accesskey="">
                  <option value="1">{% trans %}Approval{% endtrans %}</option>
                  <option value="3">{% trans %}Consignment{% endtrans %}</option>
                  {% if gkstatus=="in" %}
                  <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
                  <option value="16">{% trans %}Purchase{% endtrans %}</option>
                  {% else %}
                  <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
                  <option value="4">{% trans %}Sale{% endtrans %}</option>
                  {% endif %}
                  <option value="19">{% trans %}Sample{% endtrans %}</option>
                </select>
              </label>
            </div>
            {% if gkstatus=="in" %}
            <input type="hidden" id="status" value="9">
            {% else %}
            <input type="hidden" id="status" value="15">
            {% endif %}
          </div>
          <div class="col-md-7" id="deliverychallan_product_div">
            <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please select a product!{% endtrans %}</label>
            </div>
            <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter quantity!{% endtrans %}</label>
            </div>
            <div class="alert alert-danger" id="issuername-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter Issuer's name!{% endtrans %}</label>
            </div>
            <div class="alert alert-danger" id="designation-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter designation!{% endtrans %}</label>
            </div>
            <div class="panel">
            <table id="deliverychallan_product_table" class="table shadow table-condensed table-bordered fixed-table">
              <thead class="bg-primary">
                <tr>
                  <th class="col-xs-7">{% trans %}Product{% endtrans %}</th>
                  <th class="col-xs-4 text-center">{% trans %}Quantity{% endtrans %}</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-xs-7">
                    <select class="form-control input-sm product_name">
                      <option value="" disabled hidden selected>Select Product</option>
                      {% for product in products %}
                      <option value="{{product['productcode']}}">{{product["productdesc"]}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td class="col-xs-4">
                    <div class="input-group">
                      <input type="text" class="deliverychallan_product_quantity form-control input-sm text-right" value="">
                      <span class="input-group-addon input-sm" id="unitaddon"></span>
                    </div>
                  </td>
                  <td class="col-xs-1">

                  </td>
                </tr>
              </tbody>
            </table>
            <small id="spectotaxhelp" class="form-text text-muted">{% trans %}Press Esc key on Product Quantity to switch to Number of Packages.{% endtrans %}</small><br>
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_noofpackages">{% trans %}Number of Packages{% endtrans %} :</label>
              <input type="text" class="form-control input-sm text-right" id="deliverychallan_noofpackages" value="">
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_modeoftransport">{% trans %}Mode of Transport{% endtrans %} :</label>
              <input type="text" class="form-control input-sm" id="deliverychallan_modeoftransport" placeholder="eg. By Road, By Rail, By Air, By Sea, By Hand delivery, By Courier, etc.">
            </div>

            {% if gkstatus=='out' %}
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_issuername">{% trans %}Issuer's Name{% endtrans %} :</label>
              <input type="text" class="form-control input-sm" id="deliverychallan_issuername" placeholder="Enter name">
            </div>
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_designation">{% trans %}Designation{% endtrans %} :</label>
              <input type="text" class="form-control input-sm" id="deliverychallan_designation" placeholder="Enter designation">
            </div>
            {% endif %}
        </div>
      </div>
      <div>
     {% if gkstatus=='out' %}
       <input type="hidden"  id="deliverychallan_gkstatus" value="out">
     {%else%}
       <input type="hidden" id="deliverychallan_gkstatus" value="in">
     {% endif %}
     </div>
      <div class="panel-footer">
        <div class="container-fluid">
        <button class="btn btn-success btn-sm" id="deliverychallan_save" data-toggle="tooltip" data-placement="top" title="Press Insert to save anywhere on the current screen"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}
Save{% endtrans %}</button>
        <button class="btn btn-warning btn-sm" id="deliverychallan_reset"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}
Reset{% endtrans %}</button>
        {% if gkstatus=="out" %}
        <button id="deliverychallan_saveprint" class="btn btn-primary btn-sm" ><i class="fa fa-print" aria-hidden="true"></i> {% trans %}
Save & Print{% endtrans %}</button>
        <button id="deliverychallan_addcust" class="btn btn-info btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i> {% trans %}
Add Customer{% endtrans %}</button>
          {% else %}
          <button id="deliverychallan_addcust" class="btn btn-info btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i> {% trans %}

Add Supplier{% endtrans %}</button>
       {% endif %}
       <label class="btn btn-primary btn-sm" for="my-file-selector">
         <input name="img" accesskey="h" class="input-sm" id="my-file-selector" type="file" accept="image/*" multiple style="display:none;" onchange="$('#upload-file-info').html(this.files.length+' selected');">
         <i class="fa fa-paperclip" aria-hidden="true"></i>
         {% trans %}Attac<u>h</u>{% endtrans %}
       </label>
       <span class='label label-info' id="upload-file-info"></span>  
       <!--    {% if gkstatus=="out" %}
      {% if numberofsalesorders > 0 %}
        <button class="btn btn-default btn-sm" id="viewsalesorder">{% trans %}View Sales Order{% endtrans %}</button>
      {% endif %}
      {% else %}
      {% if numberofpurchaseorders > 0 %}
	<button class="btn btn-default btn-sm" id="viewpurchaseorder">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> View Purchase Order{% endtrans %}</button>
      {% endif %}
       {% endif %} -->
	</div>
      </div>
    </div>
    <div id="confirm_yes" class="modal" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="dc_save_no" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
              <button type="button" id="dc_save_yes" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->
    <div id="confirm_yes_dc" class="modal" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Save?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="dc_save_noprint" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
              <button type="button" id="dc_save_yesprint" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->


  </div>
</div>
<div id="viewcustsup"></div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/adddeliverychallan.js')}}"></script>
</body>
