<style type="text/css">

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel{
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

tr{
height:35px;
}
</style>
<body>
	<div class="panel shadow">
		<div class="panel-body">
			<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Godown created successfully.{% endtrans %}
			</div>
			<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Godown could not be created.{% endtrans %}
			</div>

			<div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Godown already exists!{% endtrans %}
			</div>
			<div class="col-sm-6">
				<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>

					{% trans %}Please enter godown name!{% endtrans %}
				</div>
				<div class="form-group">
					<label for="godownname" id="godnname">{% trans %}Godown Name{% endtrans %} : </label><label for="godownname" style="color:red;font-size: 120%;">*</label>
					<input type="text" id="godownname" class="form-control input-sm" name="godownname"></input>
				</div>
				<div class="alert alert-danger" id="stateblank-alert"  aria-live="rude" role="alert" hidden>

					{% trans %}Please select state!{% endtrans %}
				</div>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godownstate" id="godnstate">{% trans %}State{% endtrans %} : </label><label for="godownstate" style="color:red;font-size: 120%;">*</label>
					<select id="godownstate" class="form-control input-sm tax_state">
						<option value="" disabled selected hidden>Select a State</option>
						<option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
						<option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
						<option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
						<option value="Assam" stateid="4">Assam</option>
						<option value="Bihar" stateid="5">Bihar</option>
						<option value="Chandigarh" stateid="6">Chandigarh</option>
						<option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
						<option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
						<option value="Daman and Diu" stateid="9">Daman and Diu</option>
						<option value="Delhi" stateid="10">Delhi</option>
						<option value="Goa" stateid="11">Goa</option>
						<option value="Gujarat" stateid="12">Gujarat</option>
						<option value="Haryana" stateid="13">Haryana</option>
						<option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
						<option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
						<option value="Jharkhand" stateid="16">Jharkhand</option>
						<option value="Karnataka" stateid="17">Karnataka</option>
						<option value="Kerala" stateid="19">Kerala</option>
						<option value="Lakshadweep" stateid="20">Lakshadweep</option>
						<option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
						<option value="Maharashtra" stateid="22">Maharashtra</option>
						<option value="Manipur" stateid="23">Manipur</option>
						<option value="Meghalaya" stateid="24">Meghalaya</option>
						<option value="Mizoram" stateid="25">Mizoram</option>
						<option value="Nagaland" stateid="26">Nagaland</option>
						<option value="Odisha" stateid="29">Odisha</option>
						<option value="Pondicherry" stateid="31">Pondicherry</option>
						<option value="Punjab" stateid="32">Punjab</option>
						<option value="Rajasthan" stateid="33">Rajasthan</option>
						<option value="Sikkim" stateid="34">Sikkim</option>
						<option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
						<option value="Telangana" stateid="36">Telangana</option>
						<option value="Tripura" stateid="37">Tripura</option>
						<option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
						<option value="Uttarakhand" stateid="39">Uttarakhand</option>
						<option value="West Bengal" stateid="41">West Bengal</option>
					</select>
				</div>
				<div class="alert alert-danger" id="addressblank-alert"  aria-live="rude" role="alert" hidden>
					{% trans %}Please enter address!{% endtrans %}
				</div>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godownaddress" id="godnaddress">{% trans %}Address{% endtrans %} : </label><label for="godownaddress" style="color:red;font-size: 120%;">*</label>
					<textarea type="text" id="godownaddress" class="form-control" name="godownaddress"></textarea>
				<small id="gdtextareahelp" class="form-text text-muted">Press 'Enter' Key twice to shift focus to Contact Person.</small>
				<input type="hidden" id="goid" class="form-control" name="goid" ></input>
				</div>
					<div style="margin-top: -1%;">
					<label for="godowncontactname" id="godnname">{% trans %}Contact Person{% endtrans %} : </label>
					<input type="text" id="godowncontactname" class="form-control input-sm" name="godownname"></input>
				</div></br>
				<div class="form-group" style="margin-top: -1%;">
					<label for="godowncontact" id="godncontact">{% trans %}Contact Number{% endtrans %} : </label>
					<input type="text" id="godowncontact" class="form-control input-sm" name="godowncontact"></input>
				</div>
		</div>
		{%if not gkresult%}
		<div id="listtable" class="col-sm-6" hidden>
		<div class="form-group">
				<label>{% trans %}List of last 5 created Godowns{% endtrans %} : </label>
				<div class="panel">
		<table id="latable" class="table shadow table-bordered">
				<thead>
					<tr>
						<th class="lalign">
						{% trans %}Godown Name{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}State{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}Address{% endtrans %}
						</th>
					</tr>
				</thead>
				<tbody style="height: auto;">
				{% for record in gkresult %}
				<tr	value="{{record["godownid"]}}">
					<td class="smwrap lalign">
						{{record["godownname"]}}
					</td>
					<td class="smwrap lalign" >
						{{record["godownstate"]}}
					</td>
					<td class="smwrap lalign">
						{{record["godownaddress"]}}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
		</div>
		{%else%}
		<div id="listtable" class="col-sm-6">
		<div class="form-group">
				<label>{% trans %}List of last 5 created Godowns{% endtrans %} : </label>
				<div class="panel">
		<table id="latable" class="table shadow table-bordered">
				<thead>
					<tr>
						<th class="lalign">
						{% trans %}Godown Name{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}State{% endtrans %}
						</th>
						<th class="lalign" >
						{% trans %}Address{% endtrans %}
						</th>
					</tr>
				</thead>
				<tbody style="height: auto;">
				{% for record in gkresult %}
				<tr	value="{{record["godownid"]}}">
					<td class="smwrap lalign">
						{{record["godownname"]}}
					</td>
					<td class="smwrap lalign" >
						{{record["godownstate"]}}
					</td>
					<td class="smwrap lalign">
						{{record["godownaddress"]}}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
		</div>
		{%endif%}
		</div>
		<div class="panel-footer">
			<div class="container-fluid">
				<button type="submit" class="btn btn-success btn-sm" id="gdnsubmit" name="submit">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% endtrans %}</button>
				<button id="gdnreset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
				<button id="lists" class="btn btn-info btn-sm" accesskey="g">{% trans %}<i class="fa fa-list" aria-hidden="true"></i> List of all <u>G</u>odowns{% endtrans %}</button>
			</div>
		</div>
		<div id="listofgodownspopup">

		</div>
	</div>

<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/creategodown.js')}}"></script>
</body>
