<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Extended Trial Balance{% endtrans %}</title>
	<style type="text/css">

	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#gtbtable  td {
		font-size: 75%;
		padding: 4 !important;
    margin: 4 !important;
	}

	#gtbtable th {
		font-size: 85%;
	}
	.card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }
  #gtbtable  tbody {
      display:block;
      height: calc(100vh - 16em);
      overflow-y:scroll;
  }
  #gtbtable thead,#gtbtable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #gtbtable thead {
      width: calc( 100% - 0.65em )
  }
	.ralign{
		text-align:right;

	}
	.cred{
		color:red;
	}
	.calign{
		text-align:center;
	}
	.smwrap{
	width:4%
	}

	.mdwrap{
	width:6%
	}
	.lngwrap{
	width:22%
	}
	.ewrap{
	width:8%
	}


	</style>
</head>
<body>
	<span style="margin:auto; display:table;"><strong>{% trans %}Extended Trial Balance{% endtrans %}</strong> {% trans %}for the period from{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
	<div class="row">
		<button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;display:none;" id="etbclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
		<table id="gtbtable" class="table shadow table-bordered trialbaltable" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
			<thead class="bg-primary">
				<tr>
					<th class="smwrap calign">{% trans %}Sr.No.{% endtrans %}</th>
					<th class="lngwrap">{% trans %}Account Name{% endtrans %}</th>
					<th class="ewrap ralign">{% trans %}Opening Balance{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Total Drs{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Total Crs{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Dr Balance{% endtrans %}</th>
					<th class="mdwrap ralign">{% trans %}Cr Balance{% endtrans %}</th>
					<th class="ewrap calign">{% trans %}Group Name{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr	data-value="{{record['accountcode']}}">
					<td class="smwrap calign">
						{{record['srno']}}
					</td>
					<td class="lngwrap">
						{% if record['srno']!="" %}
						<a class="accname" href="">{{record['accountname']}}</a>
						{% else %}
						{% if record['accountname']=="" %}
						<a class="accname" href="">&nbsp</a>
						{% else %}
						<a class="accname" href="" style="text-decoration: none;">{{record['accountname']}}</a>
						{% endif %}
						{% endif %}
					</td>
					<td class="ewrap ralign">
						{{record["openingbalance"]}}
					</td>
					<td class="mdwrap ralign">
						{{record["totaldr"]}}
					</td>
					<td class="mdwrap ralign">
						{{record["totalcr"]}}
					</td>

					{%if record["advflag"]==1%}
					<td class="mdwrap ralign cred">
						<b>{{record["curbaldr"]}}</b>
					</td>
					<td class="mdwrap ralign cred">
						<b>{{record["curbalcr"]}}</b>
					</td>
					{%else%}
					<td class="mdwrap ralign">
						{{record["curbaldr"]}}
					</td>
					<td class="mdwrap ralign">
						{{record["curbalcr"]}}
					</td>
					{%endif%}
					<td class="ewrap calign">
						{{record["groupname"]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">

		<button type="button" class="btn btn-sm btn-danger" id="tbback" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-primary" id="ntbview" accesskey="a">{% trans %}Net Tri<u>a</u>l Balance{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="gtbview" accesskey="g">{% trans %}<u>G</u>ross Trial Balance{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-primary" id="printbutton" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="trialbaltype" value="{{trialbalancetype}}">
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/trialbalancereport.js')}}"></script>
</body>
</html>
